.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
docker-compose.override.yml
